# .coveragerc to control coverage.py
[run]
source = src/uncertainpy
omit = tests/*
       src/uncertainpy/plotting/prettyplot/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
