language: python
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  # - "3.5" # NOTE an issue with pathlib.resolve breaks our tests on 3.5
  - "2.7"
install:
  - source libs/travis-conda-scripts/scripts/config.sh
  - bash -ex libs/travis-conda-scripts/scripts/travis_install.sh
before_script:

  - python setup.py install
script:
  - coverage run --source pylgn -m py.test -s
  - coverage report
  - source libs/travis-conda-scripts/scripts/config.sh
  - bash -ex libs/travis-conda-scripts/scripts/build.sh
# deploy:
#   - provider: script
#     skip_cleanup: true
#     script: bash -ex libs/travis-conda-scripts/scripts/upload.sh cinpla main
#     on:
#       tags: true
#   - provider: script
#     skip_cleanup: true
#     script: bash -ex libs/travis-conda-scripts/scripts/upload.sh cinpla dev
#     on:
#       branch: dev